*{
	margin: 0;
	padding: 0;
	
	list-style: none;
}
body{
	background: #cbe6f8 url(images/body_bg.gif) top left repeat-x;
}
img.gotcha{
	margin-top: 8px;
	border: none;
}
a img{
		border: none;
	}
#stars{
	width: 100%;
	background: url(images/stars.png) top center no-repeat !important;
	background: none;
}
#wrapper{
	width: 990px;
	height: 100%;
	margin: 0 auto;
	
}
#masthead{
	height: 130px;
	margin-bottom: 45px;
}
	ul#topNav{
		float: right;
		height: 31px;
		position: relative;
		width: 396px;
	}
	ul#topNav li{
		float: left;
		text-indent: -9999px;
		position: relative;
	}
	ul#topNav li ul{ position: absolute; left: -999em; float: left; width: 255px; height: 31px; display: block; }
	ul#topNav li ul li{ position: static; }
	ul#topNav li ul li a{ display: block; background: url(images/top_subnav.gif) no-repeat left top; }
	ul#topNav li ul li.wi a{ width: 67px; background-position: 0 0; }
	ul#topNav li ul li.sp a{ width: 64px; background-position: -64px 0; }
	ul#topNav li ul li.su a{ width: 73px; background-position: -131px 0; }
	ul#topNav li ul li.fa a{ width: 51px; background-position: -201px 0; }
	ul#topNav li ul li.wi a:hover{ background-position: 0 -31px; }
	ul#topNav li ul li.sp a:hover{ background-position: -64px -31px; }
	ul#topNav li ul li.su a:hover{ background-position: -131px -31px; }
	ul#topNav li ul li.fa a:hover{ background-position: -201px -31px; }
	ul#topNav li:hover ul, ul#topNav li.sfhover ul {
		left: 0;
	}
	ul#topNav li a{
		display: block;
		overflow: hidden;
		height: 31px;
	}
	ul#topNav li a#top_about:hover,
	ul#topNav li a#top_roadtools:hover,
	ul#topNav li a#top_places:hover,
	ul#topNav li a#top_guide:hover{
		background-position: 0 -31px;
	}
		ul#topNav li a#top_about{
	        background: url(images/top_about.gif) top left no-repeat;
	        width: 110px;
		}
		ul#topNav li a#top_roadtools{
	        background: url(images/top_roadtools.gif) top left no-repeat;
	        width: 90px;
		}
		ul#topNav li a#top_places{
	        background: url(images/top_places.gif) top left no-repeat;
	        width: 106px;
		}
		ul#topNav li a#top_guide{
	        background: url(images/top_guide.gif) top left no-repeat;
	        width: 90px;
		}
	h1#logo{
		float: left;
		text-indent: -9999px;
		display: block;
		overflow: hidden;
	}
	h1#logo a{
		height: 130px;
		width: 594px;
		display: block;
		overflow: hidden;
		background: url(images/winterLogo_bg.gif) top left no-repeat;
	}
	form#topSearch{
		clear: right;
		float: right;
		margin-top: 70px;
		width: 180px;
		border: 3px solid #6bbbd8;
	}
	form#topSearch input.text{
		border: 0;
		background: #fff;
		color: #999999;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 12px;
		border-right: 1px solid #6bbbd8;
		float: left;
		display: inline;
	    height: 21px !important;
	    height: 22px;
		width: 150px;
		margin: 0;
		padding: 5px 0 0 0;
	}
	form#topSearch button{
		border: none;
		overflow: visible;
		margin: 0;
	    padding: 0;
	    width: 29px;
	    height: 26px;
		float: right;
		cursor: pointer;
		background: none;
	}
	form#topSearch button img{
	    margin: 0;
	    padding: 0;
	    border: none;
		float: left;
	}
	form#topSearch button img:only-child {
		margin: -1px 0 0 -3px !important;
	}

	
	
#contentWrap{
}
#left-left_col{
	width: 175px;
	margin-right: 30px;
	float: left;
}
	ul#mainNav{
		list-style: none;
		display: block;
		width: 175px;
		margin-bottom: 20px;
		position: relative;
	}
		ul#mainNav li{
			position: relative;
			text-indent: -9999px;
	        border-bottom: 1px dotted #0d70a1;
		}
		ul#mainNav li.last{
			border-bottom: 0;
		}
			ul#mainNav li a#nav_home{
				background: url(images/nav_home.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_trisha{
				background: url(images/nav_trisha.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_things{
				background: url(images/nav_things.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_historic{
				background: url(images/nav_historic.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_winter{
				background: url(images/nav_winter.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_seasonal{
				background: url(images/nav_seasonal.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_media{
				background: url(images/nav_media.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_trips{
				background: url(images/nav_trips.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_ecards{
				background: url(images/nav_ecards.gif) top left no-repeat;
			}
			ul#mainNav li a#nav_home:hover,
			ul#mainNav li a#nav_trisha:hover,
			ul#mainNav li a#nav_things:hover,
			ul#mainNav li a#nav_historic:hover,
			ul#mainNav li a#nav_winter:hover,
			ul#mainNav li a#nav_seasonal:hover,
			ul#mainNav li a#nav_media:hover,
			ul#mainNav li a#nav_trips:hover,
			ul#mainNav li a#nav_ecards:hover{
				background-position: 0 -27px;
			}
				ul#mainNav li a{
					width: 175px;
					height: 27px;
	                display: block;
	                overflow: hidden;
				}	
				ul#mainNav li a.last{
	                border-bottom: 0;
				}
				ul#mainNav li.topLvl a{
	                background: url(images/topLvl_arrow.gif) center right no-repeat;
				}
				
					/*
					____________________________
					START NESTED NAV
					____________________________
					*/
					ul.nestedNav{
						padding: 0 10px;
						border: 6px solid #afd5e7;
						display: none;
						width: 180px;
						position: absolute;
						top: 0;
						left: 100%;
						z-index: 700;
						background: #fff;
					}
						ul#mainNav li.topLvl ul.nestedNav li{
	        				border-bottom: 0;
							text-indent: 0;
							padding: 0;
						}
						/*ul#mainNav li.topLvl:hover ul.nestedNav{
							display: block;
						}*/
							ul#mainNav li.topLvl ul.nestedNav li a{
								height: auto;
	        					border-bottom: 1px dotted #0d70a1;
								color: #0d70a1;
								text-decoration: none;
								background: none;
								padding: 7px 0 6px 0;
								text-transform: uppercase;
								font-size: 11px;
							}
							ul#mainNav li.topLvl ul.nestedNav li a.last{
	        					border-bottom: 0;
							}
							ul#mainNav li.topLvl a:hover{
								background: url(images/topLvl_arrow_on.gif) center right no-repeat;
							}
							ul#mainNav li.topLvl ul li a:hover{
								background: none;
							}
							
							
	div.subSection{
		padding: 10px 0;
	}
	div.subSection h3,
	h3.eCards_heading{
		color: #990033;
		font-family: Georgia, "Times New Roman", Sans-serif;
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 6px;
	}
	h3.eCards_heading{
		margin-top: 15px;
		text-align: center;
	}
	div.subSection p,
	#eCards_spinner p span,
	ul#eCards_spinner li form label{
		color: #006699;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 12px;
		font-weight: normal;
		line-height: 18px;
		text-transform: none;
	}
	div.subSection p strong{
		color: #990033;
	}
	div.subSection p a{
		color: #990033;
		text-decoration: none;
	}
	
#center-center_wrap{
	float: left;
	width: 580px;
	margin-right: 25px;
}
ul#event_crumbs{
	list-style: none;
	float: left;
	margin-top: 15px;
	font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
ul#event_crumbs li{
	display: inline;
}
ul#event_crumbs li.prev a{
	margin-right: 15px;
}
ul#event_crumbs li.next a{
	margin-left: 15px;
}
ul#event_crumbs a{
	float: left;
	text-decoration: none;
	color: #444444;
	margin: 0 4px;
}
ul#event_crumbs a.selected{
	color: #970040;
}
#left-center_col{
	width: 390px;
	margin-right: 25px;
	float: left;
}
#left-center_col_events{
	width: 277px;
	margin-right: 25px;
	float: left;
}
	div#mainGalleryWrap{
		background: url(images/mainGallery_bg.gif) top left no-repeat;
		margin: 0 0 17px 0;
		padding: 13px;
		height: 234px;
		width: 364px;
	}
	div#mainGallery_video_Wrap{
		background: url(images/mainGallery_video_bg.jpg) top left no-repeat;
		margin: 0 0 17px 0;
		padding: 13px;
		height: 242px;
		width: 324px;
	}mainGallery_video_Wrap
					ul#spinner{
					}
					ul#spinner p{
						padding: 0;
						position: relative;
						z-index: 300;
						background: #196fb3;
						filter:alpha(opacity=85);
						-moz-opacity: 0.85; 
						opacity: 0.85;
					}
					ul#spinner p span{
						margin: -24px 0 0 0;
						padding: 4px 0 0 7px;
						height: 24px;
						width: 357px;
						display: block;
						font-size: 10px;
						font-weight: bold;
						text-transform: uppercase;
						color: #fff;
						background: #196fb3;
						filter:alpha(opacity=85); 
						font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
					}
					ul#galleryControls{
						margin: -21px 0 0 0;
						padding: 7px 7px 0 0;
						width: 357px;
						position: relative;
						list-style: none;
						z-index: 350;
					}
	ul.arrowControls li{
		display: inline;
		overflow: hidden;
	}
	ul.arrowControls li a.prevArrow{
		display: block;
		overflow: hidden;
		background: url(images/gallery_prev.gif) top left no-repeat;
		width: 6px;
		height: 8px;
		margin-right: 4px;
	}
	ul.arrowControls li a.nextArrow{
		display: block;
		overflow: hidden;
		background: url(images/gallery_next.gif) top left no-repeat;
		width: 6px;
		height: 8px;
	}
	ul.arrowControls li a{
		float: right;
		text-indent: -9999px;
	}
	
	
h2{
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-size: 28px;
	margin-bottom: 4px;
	font-weight: normal;
	text-transform: uppercase;
	color: #003366;
}
h2.homepage{
	font-size: 20px;
}
p.mainText,
ul.mainText{
	color: #003366;
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 9px;
}
ul.mainText{
	margin-left: 20px;
}
ul.mainText li{
	list-style: outside disc;
}
p.question,
p.answer{
	color: #003366;
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 9px;
	padding: 0 10px;
}
p.error{
	padding: 10px;
	color: #999;
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 9px;
	background: #ffffcc;
	border: 1px solid #ffff8d;
}
p.question strong{
	margin-right: 10px;
	font-size: 15px;
}
p.answer strong{
	margin-right: 10px;
	font-size: 15px;
}
p.mainText img{
	float: right;
	margin: 0 0 10px 10px;
}
p.mainText a,
ul.mainText a{
	color: #990033;
	text-decoration: none;
}
p.pageHighlight{
	color: #003366;
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 9px;
}
	div#featuredContent h4{
		text-indent: -9999px;
		height: 30px;
		display: block;
		overflow: hidden;
		background: url(images/featuredContent_bg.gif) top left no-repeat;
	}
	div.featuredContent_piece{
		margin-top: 8px;
		padding: 6px;
		background: url(images/featContentPiece_bg.gif) top left no-repeat;
	}
	div.featuredContent_piece img{
		float: left;
		margin-right: 20px;
		margin-bottom: 35px;
		width: 119px;
	}
	.featuredContent_piece li{
		margin-bottom: 2px;
	}
	#eCards_spinner p{
		color: #990033;
		font-family: Georgia, "Times New Roman", Sans-serif;
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
		margin: 0 0;
	}
	.featuredContent_piece li.desc{
		color: #006699;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 12px;
		line-height: 18px;
	}
	div.featuredContent_piece li a{
		color: #990033;
	}
#squareAd{
	float: left;
	width: 180px;
	height: 150px;
	padding-bottom: 12px;
	margin-top: 0;
	margin-right: 14px;
	background: url(images/ads/squareAd_title.gif) bottom center no-repeat;
}
	#squareAd img{
		border: none;
	}
#rectAd{
	width: 235px;
	height: 60px;
	padding-bottom: 12px;
	margin-top: 15px;
	position: relative;
	margin-right:-100%;
	background: url(images/ads/rectAd_title.gif) bottom center no-repeat;
}
	#rectAd img{
		border: none;
	}
	

#preplannedTrip h4{
	text-indent: -9999px;
	height: 30px;
	display: block;
	overflow: hidden;
	background: url(images/preplannedTrip_bg.gif) top left no-repeat;
}
	.featuredTrip_piece{
		padding: 8px 0;
	}
	.featuredTrip_piece li{
		line-height: 16px;
	}
	.featuredTrip_piece li.title a{
		color: #990033;
		font-family: Georgia, "Times New Roman", Sans-serif;
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
		text-decoration: none;
	}
	.featuredTrip_piece li.region,
	.featuredTrip_piece li.dur{
		color: #444444;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}

#right-center_col{
	width: 165px;
	margin-right: 0;
	float: left;
}
#right-center_col_events{
	width: 277px;
	margin-right: 0;
	float: left;
}
	#mainGallery a img{
		border: 4px solid #fff;
		margin-bottom: 7px;
		float: left;
	}
	#mainGallery a:hover img{
		border: 4px solid #1970b5;
	}
	#mainGallery a.odd img{
		margin-right: 9px;
	}
	
	
	#featuredVideo h4{
		text-indent: -9999px;
		height: 30px;
		display: block;
		overflow: hidden;
		background: url(images/featuredVideo_bg_s.gif) top left no-repeat;
	}
	#featuredVideo h4.homePage{
		text-indent: -9999px;
		height: 30px;
		display: block;
		overflow: hidden;
		background: url(images/featuredVideo_bg_h.gif) top left no-repeat;
	}
	#featuredVideo h4.trisha{
		text-indent: -9999px;
		height: 30px;
		display: block;
		overflow: hidden;
		background: url(images/featuredVideo_bg_t.gif) top left no-repeat;
	}
	.featuredVideo_piece{
		background: url(images/featVideoPiece_bg.gif) top left no-repeat;
		padding: 5px;
	}
	.featuredVideo_piece ul{
		margin-top: 5px;
	}
	.featuredVideo_piece li{
						margin-bottom: 2px !important;
						margin-bottom: 0;
	}
	.featuredVideo_piece li.title{
		color: #444444;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.featuredVideo_piece li.desc{
		color: #006699;
		font-family: Georgia, "Times New Roman", Sans-serif;
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
		margin: 0 0 1px 0;
	}

#right-right_col{
	width: 180px;
	margin-right: 0;
	float: left;
}
	#dateWrap{
		margin-bottom: 15px;
	}
	#calendar{
	}
	p.month{
		font-size: 13px;
		text-transform: uppercase;
		font-family: Georgia, "Times New Roman", Sans-serif;
		color: #003366;
		margin-bottom: 5px;
	}
		table#calendar_tbl{
			margin: 0 0 4px 0;
			padding: 0;
			border: 0;
			text-align: center;
			font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		}
			table#calendar_tbl tr#day_headings th{
				font-size: 8px;
				text-transform: uppercase;
				color: #fff;
			}
			table#calendar_tbl tr td{
				height: 18px;
				width: 22px;
				font-size: 10px;
				text-align: center;
				font-weight: bold;
				color: #fff;
			}
			table#calendar_tbl tr td.today{
				background: url(images/calendar_today_bg.gif) center center no-repeat;
			}
			table#calendar_tbl tr td.notThisMonth{
				font-size: 11px;
				color: #3399cc;
			}
			table#calendar_tbl tr td a{
				color: #970040;
				text-decoration: underline;
			}
	
	
	#upcomingCelebrations h4{
		text-indent: -9999px;
		height: 30px;
		display: block;
		overflow: hidden;
		background: url(images/upcomingCelebrations_bg.gif) top left no-repeat;
	}
	p.nextMonthEvents a{
		display: block;
		text-decoration: none;
		color: #006699;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 10px;
		padding: 6px 0;
		margin: 6px 0;
		border-top: 1px dotted #0d70a1;
		border-bottom: 1px dotted #0d70a1;
		background: url(images/topLvl_arrow.gif) center right no-repeat;
	}
	.upcomingCelebrations_piece{
		border-bottom: 1px dotted #0d70a1;
		padding: 8px 0;
	}
	.secondary_featured_piece{
		border-bottom: 1px dotted #0d70a1;
		padding: 10px 0 10px 15px;
		background: url(images/featured_arrow.gif) 0 16px no-repeat;
	}
	.last{
		border: none;
	}
	.secondary_featured_piece p.featuredDate,
	.secondary_featured_piece p.featuredTitle{
		width: 280px;
	}
		.upcomingCelebrations_piece li{
						margin-bottom: 2px !important;
						margin-bottom: 0;
		}
		.upcomingCelebrations_piece li.date,
		.secondary_featured_piece p.featuredDate{
		color: #444444;
		font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
		}
		.upcomingCelebrations_piece li.title,
		.upcomingCelebrations_piece li.title a{
			color: #990033;
			font-family: Georgia, "Times New Roman", Sans-serif;
			font-size: 12px;
			text-transform: uppercase;
			text-decoration: none;
		}
		.secondary_featured_piece p.featuredTitle,
		p.featuredTitle a,
		p.eCards_controls a{
			color: #990033;
			font-family: Georgia, "Times New Roman", Sans-serif;
			font-size: 12px;
			text-transform: uppercase;
			margin: 3px 0;
		}
		.upcomingCelebrations_piece li.local,
		.secondary_featured_piece p.featuredTitle em,
		p.featuredTitle em{
			color: #444444;
			font-family: Georgia, "Times New Roman", Sans-serif;
			font-size: 11px;
			font-style: italic;
			text-transform: none;
		}
		.upcomingCelebrations_piece ul.options li{
			display: inline;
			overflow: hidden;
			text-indent: -9999px;
		}
		.upcomingCelebrations_piece li.learnMore a{	
			height: 16px;
			width: 66px;
			margin-right: 3px;
			margin-top: 3px;
			float: left;
			display: block;
			overflow: hidden;
			background: url(images/learnMore.gif) top left no-repeat;
		}
		li.learnMore a:hover{
			background: url(images/learnMore_on.gif) top left no-repeat;
		}
		.secondary_featured_piece p.learnMore{
			display: inline;
			overflow: hidden;
			text-indent: -9999px;
		}
		.secondary_featured_piece p.learnMore a{
			height: 16px;
			width: 66px;
			margin-right: 3px;
			margin-top: 3px;
			float: right;
			display: block;
			overflow: hidden;
			background: url(images/learnMore.gif) top left no-repeat;
		}
		.upcomingCelebrations_piece li.sendInvite a{	
			height: 16px;
			width: 77px;
			margin-top: 3px;
			float: left;
			display: block;
			overflow: hidden;
			background: url(images/sendInvite.gif) top left no-repeat;
		}
		li.sendInvite a:hover{
			background: url(images/sendInvite_on.gif) top left no-repeat;
		}
		
		
			 		.listing_piece{
			 	        border-bottom: 1px dotted #0d70a1;
			 	        padding: 10px 0;
			 		}
					.listing_piece ul{
						list-style: none;
						margin: 0;
						padding: 0;
					}
					.listing_piece ul.options{
						float: right;
					}
					.listing_piece ul.options li{
						
					}
					.listing_piece li {
						width: 280px;
					}
					.listing_piece li.date{
						color: #444444;
						font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
						font-size: 10px;
						font-weight: bold;
						text-transform: uppercase;
						margin-bottom: 2px !important;
						margin-bottom: 0;
					}
					.listing_piece li.title a,
					.title{
						color: #990033;
						font-family: Georgia, "Times New Roman", Sans-serif;
						font-size: 12px;
						text-transform: uppercase;
						text-decoration: none;
					}
					.listing_piece li.location{
						color: #444444;
						font-family: Georgia, "Times New Roman", Sans-serif;
						font-size: 11px;
						text-transform: none;
						font-style: italic;
						margin-bottom: 2px !important;
						margin-bottom: 0;
					}
					.listing_piece li.location a{
						color: #990033;
					}
					
					.listing_piece p.learnMore,
					.listing_piece li.learnMore,
					.listing_piece li.sendInvite{
                        display: inline;
                        overflow: hidden;
                        text-indent: -9999px;
					}
					.listing_piece p.learnMore a{
                        margin-right: 3px;
                        margin-top: 3px;
                        float: right;
					}
					.listing_piece li.learnMore a{
                        margin-right: 3px;
                        margin-top: 3px;
					}
					.listing_piece li.sendInvite a{
						margin-top: 3px;
					}
					.learnMore a{
						height: 16px;
						width: 66px;
						display: block;
						overflow: hidden;
						background: url(images/learnMore.gif) top left no-repeat;
					}
					.learnMore a:hover{
						background: url(images/learnMore_on.gif) top left no-repeat;
					}
					.sendInvite a{
						height: 16px;
						width: 77px;
						display: block;
						overflow: hidden;
						background: url(images/sendInvite.gif) top left no-repeat;
					}
					.sendInvite a:hover{
						background: url(images/sendInvite_on.gif) top left no-repeat;
					}
.wallpaperWrap img{
	margin-bottom: 10px;
	text-align: center;
}
.wallpaperWrap p.title{
	margin: 0 0 10px 5px;
}
ul.wp_sizes{
	float: left;
	width: 91px;
	border-top: 1px dotted #04699b;
	margin-bottom: 10px;
}
ul#wp_small,
ul#wp_medium{
	border-right: 1px dotted #04699b;
}
ul.wp_sizes li{
	border-bottom: 1px dotted #04699b;
}
ul.wp_sizes li a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 9px;
	font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
	padding: 4px;
	display: block;
	color: #003366;
}
ul.wp_sizes li a:hover{
	color: #990033;
	text-decoration: underline;
}
ul.wp_sizes li a.iphone{
	background: url(images/wallpapers/iphone.gif) right center no-repeat;
}
ul.wp_sizes li a:hover.iphone{
	background: url(images/wallpapers/iphone_on.gif) right center no-repeat;
}

#eCardsWrap{
	background: url(images/eCardsWrap_bg.gif) top left no-repeat;
	margin: 0 auto;
	width: 570px;
	height: 130px;
	border-top: 7px solid #a3dae9;
	border-bottom: 5px solid #66abd2;
	padding: 5px 0 0 10px;
}
ul#eCards_spinner li a{
	margin-right: 7px;
}
ul#eCards_spinner{
	
}
ul#eCards_spinner li a img{
	border: none;
}
ul#eCards_spinner li a#selected_ecard{
	float: left;
}
ul#eCards_spinner li form{
	padding-top: 2px;
}
ul#eCards_spinner li form label{
	width: 110px;
	float: left;
}
ul#eCards_spinner li form input,
ul#eCards_spinner li form textarea{
	color: #999999;
	font-family: Arial, "Lucida Grande", "Trebuchet MS", Verdana, Sans;
	font-size: 12px;
	border: 0;
	background: #fff;
	padding: 2px;
	margin-bottom: 6px;
	width: 295px;
}
ul#eCards_spinner li form input.confirm,
ul#eCards_spinner li form textarea.confirm{
	background: none;
	color: #333333;
}
ul#eCards_spinner li p.eCards_controls{
	float: right;
}
#footer{
	/*position: fixed;
	bottom: 0;*/
	font-family: Georgia, "Times New Roman", Sans-serif;
	text-align: center;
	line-height: 16px;
	width: 100%;
	height: 136px;
	padding-top: 300px;
	background: url(images/footer_bg.jpg) top center no-repeat;
}
	#footer h3{
		text-indent: -9999px;
		display: block;
		overflow: hidden;
	}
	#footer h3 a{
		height: 13px;
		width: 270px;
		margin: 0 auto 6px auto;
		display: block;
		overflow: hidden;
		background: url(images/footer_logo.gif) top center no-repeat;
	}
	
	
	#footer p,
	#footer p a{
		color: #999999;
		font-size: 11px;
	}
	#footer p a{
		padding: 0 4px;
		text-decoration: none;
	}
	#footer p a:hover,
	#footer p a.selected{
		color: #990033;
	}
						.featured_media_piece{
						padding: 15px 0 15px 5px;
						border-top: 1px dotted #0d70a1;
						background: url(images/featVideoPiece_bg.gif) 0 10px no-repeat;
					}
					.featured_media_piece a img{
						border: none;
						float: left;
					}
					.featured_media_piece ul{
						margin: 0 0 30px 165px;
					}
					.featured_media_piece p{
						margin-left: 165px;
						color: #444444;
						font-family: Georgia, "Times New Roman", Sans-serif;
						font-size: 11px;
						font-style: italic;
					}
					.featured_media_piece p a{
						color: #990033;
					}
					.featured_media_piece li{
						margin: 0 0 2px 0;
					}					
					.featured_media_piece li.duration{
						color: #444444;
						font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Sans;
						font-size: 9px;
						text-transform: uppercase;
					}
					.featured_media_piece li.catagory{
						color: #444444;
						font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Sans;
						font-size: 10px;
						font-weight: bold;
						text-transform: uppercase;
					}
					.featured_media_piece li.title{
						color: #006699;
						font-family: Georgia, "Times New Roman", Sans-serif;
						font-size: 12px;
						text-transform: uppercase;
					}
	
	
	
form#contest_form h3{
		color: #990033;
	font-family: Georgia, "Times New Roman", Sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
form#contest_form label{
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Sans;
	font-size: 12px;
	color: #006699;
}
form#contest_form input.text{
	border: 1px solid #666;
	background: #fff;
	color: #888;
	font-size: 12px;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Sans;
	margin: 0;
	padding: 2px;
	font-weight: normal;
}
form#contest_form input.checkbox{
	margin-right: 3px;
}
form#contest_form label.selectable{
	color: #666;
	font-size: 12px;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Sans;
	margin: 0;
	padding: 2px;
	font-weight: normal;
}
	
	
	/*
	
	*/
	#rotational{ height: 300px; }
	#rotational .slide{ width: 564px; height: 259px; padding: 13px 13px 13px 12px; background: url(images/rotational/bg.gif) no-repeat left top; }
	#rotational .slide p{ position: absolute; bottom: 13px; left: 12px; padding: 6px; background: #1970b5; opacity: .85; color: #fff; font-size: 11px; text-transform: uppercase; width: 543px; }
	
	#banners{ height: 614px; margin-bottom: 20px; }
	
	.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
	