
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /cms/wordpress2_7_1/

RewriteRule ^talk\.html$ archives/category/news [R=302,L]
RewriteRule ^(.*)\.html$ archives/category/$1 [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /cms/wordpress2_7_1/index.php [L]

</IfModule>

# END WordPress
