html, body {height:100%; margin: 0; padding: 0; }

html>body {
	font-size: 11pt; 
	font:9pt/150%  arial,helvetica,sans-serif,"ו";
} /* Reset Base Font Size */

body {
	font-size: 11pt; 
	font:9pt/150%  arial,helvetica,sans-serif,"ו";
	background: url(../images/menuBodyBg.gif) repeat-y #fff;
	color: #333;
	font-weight:bold;
}

h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0 }
h1 { font-size: large }

#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }

#main { padding: 1em; }

a img { border: none; }

.leftMenu {
margin-top:40px;
margin-left:20px;
color:#214b19;
font-weight:bold;
cursor:pointer;
}
.leftMenu ul li ul li {
font-weight:normal;
}
.highlight {
color:red;
}