@CHARSET "UTF-8";

body {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAABCAIAAACdaSOZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiPHrmCgMC/GNjYwNSAAEGADdNA3dnzPlQAAAAAElFTkSuQmCC") repeat scroll 0 0 #C5CCD3;
}
.option li{
    height:25px;

}

#item-name {
    float: left;
    padding-left: 25px;
    padding-top: 20px;
}

#item-pic {
    float: left;
    padding-left: 2px;
    padding-top: 2px;
}

#item-auth {
    color: #636363;
    padding-left: 100px;
    padding-top: 50px;
	font-weight: normal;
}

.votes {
    float: left;
    height: 10px;
    margin-left: 160px;
    margin-top: -30px;
    width: 50px;
	
}

.votes-0{
    background: url("../images/star-black.gif") repeat scroll 0 0 transparent;
	
}

.price {
    float: left;
    height: 10px;
    margin-left: 220px;
    margin-top: -30px;
    width: 50px;
	font-weight: normal;

}


.option li a{
    float: left;
	
}


ul li{
	height:70px;
}


.option .option-hr{
    height:10px;
	background: -moz-linear-gradient(top, 
							#93A4BA, 
							#C4CDDA);

    background:-webkit-gradient(linear,left top,left bottom,
		color-stop(0, 	#93A4BA),
		color-stop(1, 		#C4CDDA));
	font-weight: normal;
}

.option .detail-top{
    height:78px;
	background: -moz-linear-gradient(top, 
							#f4f4f4, 
							#b6bab8);

    background:-webkit-gradient(linear,left top,left bottom,
		color-stop(0, 	#f4f4f4),
		color-stop(1, 		#b6bab8));
	font-weight: normal;
}

.option .info{
    float: left;
    padding-left: 5px;
	font-size: 12px;
	font-weight: normal;
    line-height: 18px;
}

.option .detail-content{
    height:90%;
	font-size: 14px;
	font-weight: normal;
    line-height: 22px;
}

.detail .votes-0{
    float: left;
    margin-left: 20px;
    margin-top: 60px;
}

.detail .download{
    float: left;
    margin-left: -55px;
}
