body {
	background-color: #545454;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
ol,ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

/*------- top ------------ */
div#top-container {
	background-image: url(../img/t_m_bg.png);
	background-repeat: repeat-x;
	display: block;
	height: 71px;
}

div#top-container #top-left {
	background-image: url(../img/t_l_bg.png);
	background-repeat: no-repeat;
	display: block;
	height: 71px;
	width: 13px;
	float: left;
}
div#top-main {
	display: block;
	float: left;
}

div#top-container #top-right {
	background-image: url(../img/t_r_bg.png);
	background-repeat: no-repeat;
	display: block;
	height: 71px;
	width: 13px;
	float: right;
}

#top-main ul {
	float: left;
	margin: 0px;
	padding-top: 6px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 8px;
}

#top-main li, #top-main li a {
	float: left;
	width: 100%;
	display: block;
	width: 55px;
	padding-bottom: 4px;
	padding-top: 0px;
	color: #FFFFFF;
	text-decoration: none;
}
div#top-main li em {
	margin-bottom: 8px;
}

/*~~~~ menu icons ~~~~~*/
.article-icon, .users-icon, .system-icon {
	background: transparent url(../img/menu_icons.png) no-repeat scroll 0%;
}

.article-icon {
	background-position: -6px -1px;
	border: 0pt none;
	height: 36px;
	line-height: 48px;
	width: 48px;
	display: block;

}

.users-icon {
	background-position: -7px -41px;
	border: 0pt none;
	height: 36px;
	line-height: 48px;
	width: 48px;
	display: block;

}

.system-icon {
	background-position: -5px -78px;
	border: 0pt none;
	height: 36px;
	line-height: 48px;
	width: 48px;
	display: block;

}

/*------- footer ------------ */
div#footer {
	background-image: url(../img/footer_bg.png);
	background-repeat: repeat-x;
	height: 27px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #333333;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #333333;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
}

div#footer-user {
	float: left;
	padding-right: 3px;
	padding-left: 16px;
	padding-top: 6px;
}

#footer span {
	background-image: url(../img/footer_spliter.png);
	background-repeat: no-repeat;
	width: 4px;
	height: 26px;
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 10px;
}

div#footer-time {
	float: right;
	background-image: url(../img/footer_time.png);
	background-repeat: repeat-x;
	height: 28px;
	padding-top: 6px;
	padding-right: 8px;
	color: #000000;
	padding-left: 10px;
}
